/1.20.1/private/spigot/.map/world/
/1.20.1/private/spigot/.map/world_nether/
/1.20.1/private/spigot/.map/world_the_end/
/1.20.1/public/anarchy.lavalawsless.com/.map/world/
/1.20.1/public/anarchy.lavalawsless.com/.map/world_nether/
/1.20.1/public/anarchy.lavalawsless.com/.map/world_the_end/
/1.20.1/private/spigot/.map/world/
/1.20.1/private/spigot/.map/world_nether/
/1.20.1/private/spigot/.map/world_the_end/
